/* erase menus, footers, etc. */
#page-header, #side, #footer, #user-notice-table, .page-notice {
display: none !important; }

/* creates the canvas */

html {
height: 100%;
width: 100%;
background: url(http://www.aywas.com/images/theme/pastel_clouds.jpg) repeat-x #ffffff; }

body {
height: 100%;
width: 100%;
padding: 0px !important; 
background: transparent !important; }

#gradient, #container, #backdrop, #main, #content, #content div.center {
height: auto !important;
width: 1000px !important;
margin: 0px auto !important;
padding: 0px !important;
position: relative !important;
border: 0px solid #00ff00 !important;
background: transparent !important;
overflow: visible !important; }

/* erase */

a[href^="http://www.aywas.com/pet_shops/add_pet/?petid"], /* sent pet to shop link */
p a[href^="http://www.aywas.com/pp/comments/"], /* view comments */
div.center table[width="500"], /* comments */ 
textarea {
display: none !important; }

div.center > p:nth-child(9), /* pet page */
div.center a.a-button, div.center input.a-button /* buttons */ {
display: none !important; }

/* holiday buttons */
a[href^="http://www.aywas.com/holiday_tree/give/pet/"] /* send to gift tree */ {
display: none !important; }

.center, .center h1, .center h2 {
color: rgba(0,0,0,0.0); }

.center #mama, .center table.y-tables {
color: #525252 !important; }

/* tables */
table.y-tables {
display: block !important;
color: #000000 !important;
width: 230px !important;
position: absolute;
top: 10px;
left: 0px;
opacity: 1;
font-size: 11px !important; }

/* making 1 column */
table.y-tables > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1), table.y-tables > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(2) {
display: block !important;
width: 100% !important; }

table.y-tables > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > th:after {
content: " (species)"; }

table.y-tables tr.highlight th {
border-radius: 5px 5px 2px 2px;
text-align: left;
padding: 0px 0px 0px 0px !important;
padding-left: 5px !important;
margin-bottom: 6px;
font-size: 15px !important;
background-color: #F4E4D1;
color: #592E1E;
line-height: 20px;
font-weight: bold;
font-style: normal; }

table.y-tables tr.highlight {
background: transparent !important; }

table.y-tables > tbody > tr > td > table {
float: none !important;
clear: both !important;
background: #ffffff;
border-radius: 5px; 
margin: 0px 0px 10px -5px;
opacity: 0.85;
padding: 0px;
border: 2px solid #6F0000; }

table.y-tables > tbody > tr > td > table:hover {
opacity: 0.95; }

/* pet image */
div.center > p:nth-child(1) {
float: none !important;
clear: both !important;
background: #ffffff;
border-radius: 5px; 
margin: 0px 0px 10px -5px;
opacity: 0.85;
padding: 5px;
border: 2px solid #6F0000;
width: 490px;
position: absolute;
top: 10px;
left: 250px; }

div.center > p:nth-child(1):hover {
opacity: 0.95; }

div.center > p:nth-child(1) img {
padding: 15px 145px;
background: url(http://www.aywas.com/images/theme/pastel_clouds.jpg); }

/* col1 */
#col1 {
width: 500px !important;
position: absolute;
top: 265px;
left: 250px; }

/* col2 */
#col2 {
width: 230px !important;
position: absolute;
top: 10px;
right: 0px; }

/* panels */

.panel {
float: none !important;
clear: both !important;
background: #ffffff;
border-radius: 5px; 
margin: 0px 0px 10px -5px;
opacity: 0.85;
padding: 5px;
border: 2px solid #6F0000;
text-align: justify;
text-justify: inter-word; }

.panel:hover {
opacity: 0.95; }

.panelc {
padding: 5px; }

h4 {
border-radius: 5px 5px 2px 2px;
text-align: left;
padding: 0px 0px 0px 0px !important;
padding-left: 5px !important;
margin-bottom: 6px;
font-size: 15px !important;
background-color: #F4E4D1;
color: #592E1E;
line-height: 20px;
font-weight: bold;
font-style: normal; }

/* nav buttons */
a.bl {
padding: 6px 10px;
border: 1px solid #999;
color: #333;
background-color: #FFF;
text-decoration: none;
cursor: pointer;
display: inline-block;
text-align: center;
text-shadow: 0px 1px 1px #FFF;
line-height: 1;
font-weight: bold;
margin: 3px; }

a.tin {
padding: 2px 4px;
font-size: 10px; }

a.bl:hover {
background-color: #e9e9e2;
border: 1px solid #afaeaa; }


/* showcase */
#list {
position: relative;
overflow: hidden;
width: 450px !important;
margin: 0px auto !important;
border: 0px solid #000000 !important;
padding: 10px !important; }

#list #contain {
min-height: 230px;
width: 230px;
margin-left: 230px;
text-align: left !important; }

#list #contain strong {
display: inline-block !important;
border: 0px solid #000000; }

#list #contain strong a {
border: none !important;
display: inline-block !important;
margin: 2px;
width: 20px;
padding-top: 5px;
padding-bottom: 5px;
text-align: center;
border: 0px solid #000000;
background: #525252;
font: 8px verdana;
color: #e1e1e1;
text-decoration: none; }

#list #contain strong a:hover {
background: #8f8f8f;
color: #e1e1e1; }

#list #contain img {
max-width: 200px !important;
position: absolute;
top: 100px;
left: 15px;
display: none; }

#list #contain strong:hover img {
display: block; }

#list #contain br {
display: none; }

#list #contain b {
display: block !important;
font-weight: normal !important;
margin-bottom: 5px !important; }
